body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 57px;
}
nav li a{
    text-decoration: none;
    color: #474747;
    
}
.nav-text{
    color: #181818;
font-size: 35px;
font-weight: 800;

}
.orrange{
    color: #FD6E0A;
}
.btn-orrange{
border-radius: 5px;
background: #FD6E0A;
color: var(--white-color, #FFF);
font-size: 20px;
font-weight: 600;
padding: 13px 30px;
border: 0px;
}
.btn-orrange:hover{
    background-color: #0d0d0c;}
.btn-Dark{
    border-radius: 5px; 
    font-size: 20px;
    font-weight: 600;
    padding: 8px 25px;
    color:#000000;
    background: #FFF8F3;
    border: 2px solid black;
}
.btn-Dark:hover{
    background-color: rgb(165, 173, 218);
}
.header{
    background-color:#FFF8F3;
    background-image:url('header_bg.png');
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: bottom right;}
    
.text{
    padding: 30px 30px 120px 150px;
}
.banner{
    display: flex;
    align-items: center;
}
.profile{
    height: 750px;
    width: 730px;
    margin-left: 400px;
}
.banner-top{
    color: #474747;
    font-size: 35px;
    margin-bottom: 0px;

}
.banner-mid{
    color: #181818;
    font-size: 70px;
font-weight: 500;
margin-top: 0px;
}
.about_title{
    color: v#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.about_para{
    color:#757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.section-title{
    margin: 150px 290px 150px 260px;
    border-radius: 10px;
background: #FFF8F3;
padding: 100px ;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-into{
    text-align: justify;
}
#What-i-do{
    padding: 30px 350px;
   
}
.skill{
    display: flex;
}
.skill-container{
    border-radius: 5px;


background-image: linear-gradient(to right,#ffd89b, #19547b);
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
width: 260px;
height: 277px;
margin-left: 70px;
padding: 30px 50px;


}
.skill-des{
    color:  #000000;
font-size: 16px;
font-weight: 400;
}